<?xml version="1.0" encoding="UTF-8"?>
<web-app


         version="4.0">
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.lsq.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>computer</servlet-name>
        <servlet-class>handle.data.Example7_1_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>computer</servlet-name>
        <url-pattern>/computer</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>query</servlet-name>
        <servlet-class>handle.data.Query_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>query</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>



</web-app>